* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}


:root {
  font-family: "Roboto", sans-serif;
  font-size: clamp(40%, 1% + 2vw,62.5%);

  --hue:620;
  --bg-color: hsl(var(--hue), 5%, 7%);
  --text-color: hsl(var(--hue), 40%, 98%);
  --primary-color: hsl(var(--hue), 100%, 63%);
  --button-secondary: hsl(var(--hue), 40%, 98%);
  --controls-bg-color: hsl(var(--hue), 0%, 14%);
  --color-toggle-mode : #ffffff;
}

html.light {
  --text-color: hsl(var(--hue), 5%, 7%) ;
  --bg-color: hsl(var(--hue), 40%, 98%);
  --color-toggle-mode : #000000;

}

html.light .ph-sun,
html:not(.light) .ph-moon{
  display: none;
}

.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 1.6rem;

  transition:background 0.7s;

  display: grid;
  height: 100vh;
  place-content: center;
}

.error{
  position: absolute;
  background-color: var(--primary-color);
right: 0;
left: 0;
bottom: 0;
text-align: center;
padding: 1.4rem 0;
transform: translateY(20px);
opacity: 0;

transition: 0.4s;

font-weight: 700;
}
.open{
opacity: 1;
transform: translateY(0px);

}

.flex {
  display: flex;
}

#toggleMode{
position: absolute;
right: 3.2rem;
top: 3.2rem;

background: none;
border: none;
font-size:3.2rem ;
color: var(--color-toggle-mode);

cursor: pointer;
}

#app {
  display: grid;
  justify-items: center;
}

#timer {
  font-size: 9.6rem;
  font-style: normal;
  font-weight: 700;
}

